.vscode
node_modules
coverage
dist
docs
docs-preview
docs-translations
.env
puppeteerrc.cjs
test-environment.js
**/.DS_Store
**/src/TransformWorker.worker.js
vite.config.*.timestamp-*
.nx/
changeset_preview.json
