
body, html, button, input, select, textarea {
  font-family : "OpenSans", Helvetica, Verdana, Arial, sans-serif;
}
body{
  background-color: #fbfbfb;
}
html{
  overflow-x: hidden;
}

google-cast-launcher {
  position: relative;
  z-index: 20;
  width: 2rem;
}

.fs-15px{
  font-size: 15px;
}

#vidContainer {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #000;

  text-align:center;
  margin:0 auto;
}


#vidContainer video {
  width: 100%;
}

#vidContainer video.vidWinBrowser {
  height: 100%;
}

/* MOUSE / CURSOR */
.use-hand {
  cursor: hand;
}

.ignore-mouse {
  pointer-events: none;
}

/*Viewer Specific*/
video{
  top: -75px;
  height:100%;
  z-index: -1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

.not-allowed{
  cursor: not-allowed !important;
}
.nocursor{
  cursor: none !important;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .25s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}


@media (min-width: 414px) {
  video{
    top: -50px;
  }
}

@media (min-width: 768px) {
  video{
    top: -75px;
  }
}

/*Turn Device Notification*/
.turnDeviceNotification {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height:100%;
  width:100%;
  z-index: 100;
  display: none;
  background-color: rgba(64, 48, 142, 0.3)
}
.notification-margin-top {
  margin-top: -110px;
}
@media screen and (min-height: 411px) and (orientation: landscape) {
  .notification-margin-top {
    margin-top: -210px;
  }
}