body {
  --playback-logo-image: url('res/logo_googleg_color_2x_web_48dp.png');
}

cast-media-player {
  --theme-hue: 180;
  --progress-color: rgb(0, 255, 255);
  --splash-image: url('res/background-1.jpg');
  --splash-size: cover;
}

/* ------------------------------------------------- */
/* Sample Overlay Text                               */
/* ------------------------------------------------- */
cast-media-player:after {
  content: "SAMPLE";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  margin-top: -150px;
  opacity: 0.5;
  color: red;
}